* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	align-items: center;
	flex-direction: column;
}

body {
	padding: 20px;
	justify-content: center;
	text-align: center;
	/* background-color: #696969; */
	background-image: url("./../assets/background.jpg");
}

.header {
	background-color: lightblue;
	opacity: 0.8;
	display: flex;
	width: 90vw;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	font-size: 24px;
	padding: 20px;
}

.scoreboard {
	display: flex;
	gap: 15px;
}

.cardSelection {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 40px;
	gap: 50px;
}

.card {
	width: 250px;
	height: 250px;
	background-color: lightskyblue;
	opacity: 0.9;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cardName {
	font-size: 16px;
	opacity: 0.8;
	font-weight: bold;
	text-transform: capitalize;
}

.pokemonImg {
	opacity: 0.8;
	width: 200px;
	height: 200px;
}

.result {
	background-color: #b9bcc2;
	margin: 20px;
	padding: 20px;
	border-radius: 8px;
}

.difficultyChoice {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.difficultyChoiceButton {
	padding: 10px;
}
